.DS_Store

speech/Swift/Speech-gRPC-Streaming.mac/google
speech/Swift/Speech-gRPC-Streaming.mac/Pods
speech/Swift/Speech-gRPC-Streaming/google
speech/Swift/Speech-gRPC-Streaming/Pods
Podfile.lock
speech/Swift/Speech-gRPC-Streaming.mac/build
speech/Swift/Speech-gRPC-Streaming/build
Speech.xcscmblueprint
contents.xcworkspacedata
speech/Swift/Speech-gRPC-Streaming.mac/Speech.xcodeproj/project.xcworkspace/xcuserdata
speech/Swift/Speech-gRPC-Streaming/Speech.xcodeproj/xcuserdata
speech/Swift/Speech-gRPC-Streaming/Speech.xcworkspace/xcuserdata
speech/Swift/Speech-gRPC-Streaming.mac/Speech.xcodeproj/xcuserdata
speech/Swift/Speech-gRPC-Streaming.mac/Speech.xcworkspace/xcuserdata
